*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container{
  width: 100%;
  min-height: 100vh;
  background-color: #268171;
  padding: 10px;
}
.to-do{
  width: 100%;
  max-width: 540px;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px 30px 70px;
  margin: 100px auto 20px;
}
.to-do h2{
  font-size: 40px;
  color: #0a1f4f;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
  
.to-do h2 img{
    width: 40px;
    margin-left: 15px;
  }
.input-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-botom: 25px;
  
}
#taskInput{
  font-weight: 14px;
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
}

button{
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  heiht: 13px;
  background-color: #ff5945;
  color: white;
  padding: 16px 50px;
  border-radius: 40px;
}
                    
button:hover{
  background-color: #772ce8;
}

ul{
  margin-top: 30px;
}
ul li{
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

ul li:before{
  content: '';
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(Download/radio.png);
  background-size: cover;
  background-position: center;
  top: 10px;
  left: 8px;
}

ul li.checked{
  color: #555;
  text-decoration: line-through;
}

ul li.checked:before{
  background-image: url(Download/checked.png)
}

ul li span{
  position: absolute;
  right: 0;
  top: 5px;
  height: 40px;
  width: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}

ul li span:hover{
  background: #edeef0;
}